html { 
   scroll-behavior: smooth; 
   background-image: url(images/background1.png);
   background-repeat: repeat-x;
   }

/*********** BODY  + Modifications balises de bases ***********/ 

body{
    font-family: 'Poppins', sans-serif;
    margin-left : 15%;
    margin-right : 15%;
    margin-top : 1px;
    margin-bottom : 1px;
    padding : 5px;
    min-width: 900px;
    background-image: url;

} 

*.aboutme {
   position: fixed;
   bottom: 0;
   left: 0;
         box-sizing: border-box;
         box-shadow: 10px 10px 5px #B8CBD0;
        background-color: #F8F8FF;
        text-align: center;
        width: 135px;
        padding: 10px;
        margin: 13px;
        font-size: x-small;
        border: dashed;
        border-color : #B8CBD0;
        border-width: 2px 4px;
        border-radius: 40px;
      }
 
      *.aboutme h3 {
      text-align: center;
      font-family: 'Homemade Apple', cursive;
      text-shadow: 3px 2px #B8CBD0;
      }

      *.navigationhelp {
         position: fixed;
   bottom: 0;
   right: 0;
      }

      .navigationhelp img {
         height:75px;
         width: 75px;
      }
 

      .hovertext:before {
         content: attr(data-hover);
         visibility: hidden;
         opacity: 0;
         width: max-content;
         background-color: black;
         color: #fff;
         text-align: center;
         border-radius: 5px;
         padding: 5px 5px;
         transition: opacity 1s ease-in-out;
       
         position: absolute;
         z-index: 1;
         left: 0;
         top: 110%;
       }
 
 /*********** ENTETE ***********/ 
 
 .entete {
   font-family: 'Homemade Apple', cursive;
   height: 160px;
   top : 0;
   position: inherit;
   z-index: 1;
   background-image: url("images/Bannierecvhaut.png");
   background-color: transparent;
   color : #F8F8FF;
   border: dashed;
   text-align: center;
   border-width: 2px 4px;
   border-radius: 40px;
   margin-bottom: 2%;
   min-width: 850px;
 }

 h1 {
    text-align: center;
    text-shadow: #F8F8FF 1px 0 10px;
    font-family: 'Homemade Apple', cursive;
 }

 li {
    margin-bottom: 10px;
 }
 /*********** Bouton entete ***********/ 
 
 .button {
   display: inline-flex;
   color: #FDFEFE;
   text-shadow: 0px 0px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
   justify-content: center;
   align-items: center;
   margin: 7px;
   position: relative;
   width: 140px;
   height: 30px;
   border: dashed;
   border-width: 2px 4px;
   border-radius: 40px;
   font-size: 1em;
   text-decoration: none;
   box-shadow: 0 2px 8px 0 #999;
}


.button:hover { 
   background-color: #3f474f;
   background: rgba(105, 105, 105, .75);
   transition: background 0.5s ease-in;
}

 /*********** Partie gauche ***********/ 
 
 .agauche {
    width: 22%;
    background-color: #B8CBD0;
    float: left;
    border: dashed;
    border-width: 2px 4px;
    border-radius: 40px;
    border-color : #F8F8FF;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2%;
    padding-right: 5px;
    min-width: 200px;
    font-size: 0.9em;
 }
 
 .agauche h2 {
    font-family: 'Homemade Apple', cursive;
    text-shadow: 3px 2px #F8F8FF;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
 }
 
 .agauche .agaucheicon {
   width: 10px;
   height: 10px;
   position: relative;
   top: 15px;
   margin-right: 10px;
   fill: rgb(106, 10, 10);
 }

 .agauche ul {
    margin-bottom: 50px;
    margin-left: 1%;
    margin-right: 10%;
 }

 .agauche > p {
    text-align: center;
 }

 .agauche i {
   text-align : center;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .agauche #allemand {
    padding-bottom:15%;
 }

   .agauche .telpic {
      width: 100px;
      height: 14px;
      top: 15px;
      margin-right: 10px;
      text-align : center;
      margin-left: 3%;
      margin-right: auto;
      margin-top: 5px; 
      margin-bottom: 45px;
 }

 .agauche .Langues {
    width:20px;
    display:flex;
    margin-left:auto;
    margin-right:auto;
 }

 
 /*********** Image partie gauche ***********/ 
 
 .photo {
    margin-top : 5%;
    margin-bottom : 20%;
    width : 200px;
    border-radius : 50%;
    border-width: 0.5px;
    border: solid;
    border-color:#FDFEFE;
    height : 184px;
    display: flex;
    align-content: center;
    text-align : center;
    margin-left: auto;
    margin-right: auto;
 }
    
 /*********** Partie droite ***********/ 
 
 .adroite {
    width: 70%;
    background-color: #F8F8FF;
    float: right;
    position: inherit;
    border : dashed;
    border-width: 2px 4px;
    border-radius: 40px;
    border-color : #F8F8FF;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2%;
    padding-left: 15px;
    font-size: 0.9em;
 }

 .adroite h2 {
    font-family: 'Homemade Apple', cursive;
    text-shadow: 3px 2px #B8CBD0;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: dashed;
    border-color : #B8CBD0;
    border-width: 2px 4px;
    border-radius: 40px;
 }

 .adroite .mountainh2 {
   height: 53px;
   margin-left: -90px;
   float: right;
   margin-right: 22px;
}

.adroite ul {
   margin-bottom: 7%;
}
 
.adroite #Diplômes {
   margin-top: 10%;
}
 .adroite #Divers {
    margin-top: 10%;
    margin-bottom: 3px;
    margin-right: 2%;
 }
 
 .adroite h3 {
   font-family: 'Homemade Apple', cursive;
    margin-bottom: 30px;
    margin-top: 30px;
    letter-spacing: 3px;
    background: linear-gradient(to right, #18282f, #8ebbc6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
 }

 .adroite h4 {
    font-weight: bold;
 }
 
 /*Mise en page générale : photo vs expérience/diplôme*/
 
.rightcontainer {
   float: left;
   width: 95%;
   margin-top: 10px;
   margin-right: 5%;
   vertical-align: middle;
   margin-bottom: 5%;
   border: dashed;
    border-color : #B8CBD0;
    border-width: 2px 4px;
    border-radius: 40px;
 }

 .boxdroite {
   height: 100%;
    display: inline block;
    float: right;
    padding-right: 2%;
    padding-left: 60%;
 }

 .photodroite {
    height: 100%;
    text-align: left;
    width: 30%;
    display: inline block;
    margin-bottom: -13%;
    margin-left: 5%;
 }




 /*********** Partie en bas ***********/ 
 
 .enbas {
    height: 45px;
    clear: both;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/Bannierecvhaut.png");
    text-shadow: #F8F8FF 1px 0 10px;
    color: #F8F8FF;
    border: dashed;
    border-width: 2px 4px;
    border-radius: 40px;
 }
 
 .enbas #prenom {
    font-family: 'Homemade Apple', cursive;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    padding-right: 35px;
 }
 
 .enbas .reseaux {
    width: 25px;
    min-width: 25px;
    min-height: 25px;
    height:25px;
    float: right;
    margin-right: 45px;
 } 

 .enbas .retourhaut {
   font-family: 'Homemade Apple', cursive;
   font-size: 17px;
   text-align: center;
   text-decoration: none;
   font-weight: bold;
   padding-right: 35px;
   text-shadow: #F8F8FF 1px 0 10px;
   color: #F8F8FF;
}

.enbas .retourhaut:hover {
   text-decoration: none;
   color: #3f474f;
   transition: 0.5s ease-in;
}
 
 /* Barre de separation */
 
 .vertical{
    border: solid;
    border-width: 1px;
    height: 25px;
    border-color: white;
    display: inline-block;
    margin-right: 35px;
 }

 .horizontal {
    border: solid;
    border-width: 1px;
    width: 155px;
    border-color:rgb(255, 255, 255);
    display: flex;
    margin-top: -17px;
    margin-bottom: 25px;
    text-align : center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
 }